name: checks
on: [push, pull_request]
permissions: read-all
jobs:
  format:
    name: Check formatting
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout the Git repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: Check formatting
        run: make format
  lint:
    name: Check for erroneous constructs
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout the Git repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: Check for erroneous constructs
        run: make lint
  links:
    name: Check Markdown links
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout the Git repository
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Check Markdown links
        run: |
          npm install -g markdown-link-check
          make links
  test:
    name: Run tests
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        python: ['3.11']
    steps:
      - name: Checkout the Git repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: 'pip'
      - name: Run tests
        run: make test
  standalone:
    name: Make Standalone
    runs-on: ubuntu-20.04
    needs: [format, lint, test]
    steps:
      - name: Checkout the Git repository
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: 'pip'
      - name: Run tests
        run: make standalone
      - uses: actions/upload-artifact@v3
        with:
          name: toltecmk
          path: toltecmk
